/*-- GLOBAL --*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "League Gothic", sans-serif;
  scroll-behavior: smooth;
}

ion-icon {
  width: 2em;
  height: 2em;
  color: #ebebeb;
}



html,
body {
  overflow-x: hidden;
}



.container{
  width: 70%;
  place-items: center;
  place-content:center;
  height: auto;
  margin: 1em 10em 2em;
  position: relative;
  z-index: 3;
}
.title{
  display: flex;
  place-items: center;
  place-content: center;
  margin: 0.3em 3em;
  gap: 1em;

}


h2,
h3{
  font-size: 2em;
  font-weight: 400;
}

h4,
h5{
  font-size: 1.8em;
  font-weight: 400;
}

/*-- HEADER --*/
header {
  display: flex;
  background-color: rgba(32, 32, 36, 0.9);
  height: auto;
  place-items: center;
  place-content: center;
  
}
.menu {
  display: grid;
  grid-template: repeat(1, 1fr)/repeat(2, 1fr);
  justify-content: space-between;
}

#logo {
  max-width: 100%;
  height: 70px;
}
#menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

#linksLogo {
  display: flex;
}

#linksLogo ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  transition: all 0.3s ease-in-out;
}

#linksLogo ul li {
  display: flex;
  list-style: none;
  padding: 0.5em 0.5em;
  border-radius: 8%;
  transition: background-color 0.2s ease;
}
#linksLogo ul li:hover {
  background-color: #ee9038;
}

#linksLogo a {
  text-decoration: none;
  color: #ebebeb;
  font-weight: 400;
  letter-spacing: 0.2rem;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
  cursor: pointer;
}

/*-- HOME --*/
#home {
  position: relative;
  min-height: 100dvh;
  max-width: 100%;
  overflow: hidden; /* garante que pseudo-elemento não vaze */
  place-items: center;
  place-content: center;
  
}
/* Imagem de fundo */
#home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("./assets/home-barber.jpg") no-repeat center;
  background-size: cover;
  z-index: 0;
}

/* Overlay */
#home::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000a9;
  pointer-events: none;
  z-index: 1;
}

/* Textura */
.texture {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("./assets/textura.png") repeat;
  pointer-events: none;
  z-index: 2;
}

/* Conteúdo */
.content {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: "League Gothic", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  z-index: 3;
  font-size: 3em;
  text-align: center;
  place-content: center;
  place-items: center;

}
.content img {
  max-width: 10rem;
}
.content h1 {
  position: relative;
  color: #ffffff;
}
.content h2 {
  position: relative;
  color: #ee9038;
}

.low-edge {
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  position: absolute;
  z-index: 3;
}
.low-edge img {
  width: 100%;
  display: block;
}

/* About */
#about {
  width: 100%;
  background-color: rgba(32, 32, 36, 1);
  overflow: hidden;
  place-content: center;
  place-items: center;
}

.high-edge {
  width: 100%;
  max-height: 2em;
}
.high-edge img {
  width: 100%;
  display: block;
}



#about h2 {
  color: white;
  
}

.sobre {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3em;
}
.sobre p {
  width: 100%;
  height: auto;
  color: white;
  font-weight: 400;
  font-size: 16px;
  font-family: "open sans", sans-serif;
  text-align: center;
}
.sobre img {
  max-width: 100%;
  max-height: 80%;
}

/*-- SERVICE --*/
#service {
  display: flex;
  flex-direction: column;
  background: rgba(45, 46, 51, 1);
  max-width: 100vw;
  height: auto;
  place-content: center;
  place-items: center;
  padding: 2em 0;
}

#service .bigode {
  height: 2em;
}

#service h2 {
  color: white;
}

#service h3 {
  color: #ba702c;
  font-weight: 400;
}

#servicebox {
  max-width: 100%;
  display: grid;
  grid-template: repeat(1, 1fr)/repeat(4, 1fr);
  gap: 1em;
  overflow: hidden;
}
#servicebox div {
  display: flex;
  flex-direction: column;
  background-color: #202024;
  place-items: center;
  text-align: center;
  place-content: center;
  padding: 2em 3em;
}

#servicebox h4 {
  color: white;
  font-weight: 400;
  font-size: 1em;
}
#servicebox p {
  color: #858585;
  font-weight: 400;
}

#servicebox img {
  max-width: 3.5em;
}


/*-- GALLERY --*/
#gallery {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  max-width: 100vw;
  height: auto;
  background: linear-gradient(
    99.58deg,
    #ba702c 4.18%,
    #ee9038 51.65%,
    #ba702c 96.6%
  );
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  padding: 2em 0;
}


#gallery h2{
  color: rgb(0, 0, 0);
}


#galleryrow {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
  gap: 1em;
  align-items: center;
  align-content: center;
  justify-content: center;
}
#galleryrow img {
  max-width: 100%;
  border-radius: 8px;
}

/*-- EQUIPE --*/
#our-team {
  background-image: url(./assets/team-background.jpg);
  background-position: right;
  background-size: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;
  place-items: center;
  place-content: center;
  text-align: center;
  padding: 2em 0;


}
/* Overlay */
#our-team::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(32, 32, 33, 0.947);
  pointer-events: none;
  z-index: 1;
}

#our-team::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("./assets/textura.png") no-repeat center;
  background-size: cover;
  z-index: 2;
}

#our-team h2,
#our-team h4{
  color: white;
  position: relative;
  z-index: 3;
}
#our-team h3{
  color:#ee9038;
  position: relative;
  z-index: 3;
}

#our-team h5{
  color: #ee9038;
}



.persons{
  display: grid;
  grid-template: repeat(1, 1fr)/ repeat(3,1fr);
  gap: 1em;
  text-align: center;
}
.persons img{
  max-width: 80%;
  border-radius: 100%;

}

#redes{
  background-color:#202024;
  height: auto;
  display: flex;
  place-items: center;
  place-content: center;
  text-align: center;
}
#redes div{
  display: grid;
  grid-template:repeat(1,1fr)/repeat(4,1fr);

  
}
#redes button{
 background: none;
  border-radius: 50%;
  border: none;
}


#contact-form {
  background-image: url(./assets/mapa.png);
  display: flex;
  width: 100vw;
  height: 467px;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
}
#contact-form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000d1;
  pointer-events: none;
  z-index: 1;
}
#contact-form::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("./assets/textura.png") no-repeat center;
  background-size: cover;
  z-index: 2;
}

#forms {
  display: flex;
  position: relative;
  z-index: 3;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form{
  margin: 2em;
}

#contact-form h2 {
  margin: 1em auto 0;
  color: white;
  
}
#contact-form h3 {
  color:#ee9038;
  font-size: 1em;


}

#contact-form form {
  color: rgba(238, 144, 56, 1);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align:start;
}
fieldset{
  display: grid;
  grid-template: repeat(1, 1fr)/ repeat(2, 1fr);
  gap: 0.8em;
}

#contact-form fieldset,
#contact-form input, 
#contact-form textarea{
  border: none;
  background: none;
}
#forms div{
  border-bottom: 1px solid #ffffff;
}

#forms input:focus,
#forms textarea {
  outline: none;
  border: none; /* se quiser tirar a borda também */
 color: #ffffff;
}

#forms textarea{
  resize: none;      /* impede redimensionamento manual */
  overflow: hidden;  /* remove a barra de rolagem */
  width: 100%;
  
}

#forms input{
  color: #ebebeb;
}

#forms div{
  width: 100%;
  
}

#forms button{
  background: linear-gradient(90.85deg, #EE9038 3.06%, #885220 99.68%);
  border: none;
  color: #ebebeb;
  box-shadow: 1px 1px 1px #858585;

}






footer {
  display: flex;
  text-align: center;
  font-size: 14px;
  background: rgba(32, 32, 36, 1);
  color: #ebebeb;
  text-align: center;
  place-items: center;
  place-content: center;
}

footer ion-icon{
  width: 14px;
}

/* Responsividade */

/* Para telas menores, como tablets */
@media (max-width: 1024px) {
  h1{
    font-size: 2.5em;
  }
  h2{
    font-size: 2em;
  }
  h3{
    font-size: 1.8em;
  }
  .container{
    width: 70%;
  }
  .content {
    font-size: 2.5rem;
  }
  .sobre {
    display: flex;
    flex-wrap: wrap;
  }

  #galleryrow {
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
  }
  #servicebox{ 
  grid-template: repeat(2, 2fr)/repeat(2, 2fr);
  }
}
/* Para celulares */
@media (max-width: 450px) {
  .container{
    width: 80%;
  }
  #menu-toggle {
    display: block;
  }

  #linksLogo ul {
    display: none;
    position: absolute;
    top: 100%;
    background-color: rgba(32, 32, 36, 0.95);
    flex-direction: column;
    width: 200px;
    border-radius: 8px;
  }

  #linksLogo ul.show {
    display: flex;
  }

  #linksLogo ul li {
    padding: 0.5rem 0;
  }


  h1 {
  font-size: 1.5em;
  }
  h2{
  font-size: 1.3em;
  }
  h3{
    font-size: 1.1em;
  }

  .container {
    margin: 0.8em 1.5em;
  }

  #galleryrow {
    grid-template: repeat(6, 1fr) / repeat(2, 1fr);
  }
}
