* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "League Gothic", sans-serif;
  
}


html, body{
  overflow-x: hidden;

}

header {
  background-color: rgba(32, 32, 36, 0.9);
  height: auto;
}

header .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 1em;
  max-width: 100vw;
  margin: 0 auto;
  padding: 0.5em 1em;
}
#logo {
  max-width: 100%;
  height: 70px;
}

#linksLogo ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

#linksLogo ul li {
  display: flex;
  list-style: none;
  padding: 0.5em 0.5em;
  border-radius: 8%;
  transition: background-color 0.2s ease;
}
#linksLogo ul li:hover {
  background-color: #ee9038;
}

#linksLogo a {
  text-decoration: none;
  color: #ebebeb;
  font-weight: 400;
  letter-spacing: 0.1rem;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
  cursor: pointer;
}

#home {
  position: relative;
  min-height: 100vh;
  max-width: 100%;
  overflow: hidden; /* garante que pseudo-elemento não vaze */
}
/* Imagem de fundo */
#home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("./assets/home-barber.jpg") no-repeat center;
  background-size: cover;
  z-index: 0;
}

/* Overlay */
#home::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000a9;
  pointer-events: none;
  z-index: 1;
}

/* Textura */
.texture {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("./assets/textura.png") repeat;
  pointer-events: none;
  z-index: 2;
}

/* Conteúdo */
.content {
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  flex-direction: column;
  padding: 12%;
  position: relative;
  font-family: "League Gothic", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  height: 80vh;
  width: 100vw;
  z-index: 3;
  font-size: 3em;
  text-align: center;
}
.content img {
  max-width: 10rem;
}
.content h1 {
  position: relative;
  color: #ffffff;
}
.content h2 {
  position: relative;
  color: #ee9038;
}

.low-edge {
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  position: absolute;
  z-index: 3;
}
.low-edge img {
  width: 100%;
  display: block;
}

/* About */
#about {
  width: 100%;
  min-height: 492px;
  background-color: rgba(32, 32, 36, 1);
  overflow: hidden;

}

.high-edge {
  width: 100%;
  max-height: 2em;

}
.high-edge img {
  width: 100%;
  display: block;
}

#title-about{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3em;
  gap: 1em;
}

#title-about h2{
  color: white;
  font-weight: 400;
  font-size: 2em;
}

.sobre{
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
  justify-items:center;
  margin: 2em 12em;
  gap: 3em;

}
.sobre p{
  width: 100%;
  height: auto;
  color: white;
  font-weight: 400;
  font-size: 16px;
  font-family: "open sans", sans-serif;
  text-align: center;

}
.sobre img{
  max-width: 100%;
  height: 80%;
}

#service {
  display: flex;
  background: rgba(45, 46, 51, 1);
  max-width: 100vw;
  height: 355px;
  align-items: center;
  justify-content: center;

}




#gallery {
  max-width: 100vw;
  height: 855px;
  background: linear-gradient(
    99.58deg,
    #ba702c 4.18%,
    #ee9038 51.65%,
    #ba702c 96.6%
  );
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#gallery img{
  max-width: 25%;

}

#our-team {
  background-image: url(./assets/team-background.jpg);
  background-repeat: no-repeat;
  background-position: center 50%;
  max-width: 100vw;
  height: 567px;
}

#our-team::before{
  opacity: 0.5;
}

#brands {
  max-width: 100vw;
  height: 164px;
  background: rgba(202, 122, 46, 1);
}

#our-numbers {
  max-width: 100vw;
  height: 366px;
  background: linear-gradient(88.42deg, #202024 0%, #2e2f33 97.64%);
}

#share-social {
  width: 100vw;
  height: 70px;
  background: linear-gradient(191.53deg, #292a2e 8.11%, #434347 91.17%);
}

#contact-form {
  background-image: url(./assets/mapa.png);
  display: flex;
  width: 100vw;
  height: 467px;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
}
#contact-form::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000a9;
  pointer-events: none;
  z-index: 1;
}

#forms{
  display: flex;
  position: relative;
  z-index: 3;
  align-items: center;
  justify-content:center;
  flex-direction: column;
}

#contact-form h2{
  margin: 1em auto 0;
  color: white;
  font-size: 44px;
  font-weight: 400;
}
#contact-form h3{
  color: rgba(238, 144, 56, 1);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 2em;
}

#contact-form form{
  color: rgba(238, 144, 56, 1);
  font-size: 16px;
  font-weight: 400;
  display:flex;
  flex-direction: column;
  margin: auto 3em;
  

}


footer {
  max-width: 100vw;
  height: 242px;
  background: rgba(32, 32, 36, 1);
}

/* Responsividade */
@media (max-width: 768px) {
  /* Para telas menores, como tablets */
  .content {
    font-size: 2.5rem;
  }
  .sobre{
    display: flex;
    flex-wrap: wrap;
    margin: 1em 4em;
  }
}

@media (max-width: 490px) {
  /* Para celulares */
  .content {
    font-size: 2rem;
  }
}
