* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "League Gothic", sans-serif;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}



.container{
  width: 70%;
  place-items: center;
  place-content:center;
  height: auto;
  margin: 1em 10em 2em;
  z-index: 3;
}

.texture{
  content: "";
  position: absolute;
  background-color: #000000a9;
  pointer-events: none;
  z-index: 1;

}

h2{
  font-weight: 400;
  font-size: 2em;
}

h3{
  font-size: 1.5em;
  font-weight: 400;
}


header {
  display: flex;
  background-color: rgba(32, 32, 36, 0.9);
  height: auto;
  place-items: center;
  place-content: center;
}
.menu {
  display: flex;
  justify-content: space-between;
}

#logo {
  max-width: 100%;
  height: 70px;
}
#menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

#linksLogo {
  display: flex;
}

#linksLogo ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  transition: all 0.3s ease-in-out;
}

#linksLogo ul li {
  display: flex;
  list-style: none;
  padding: 0.5em 0.5em;
  border-radius: 8%;
  transition: background-color 0.2s ease;
}
#linksLogo ul li:hover {
  background-color: #ee9038;
}

#linksLogo a {
  text-decoration: none;
  color: #ebebeb;
  font-weight: 400;
  letter-spacing: 0.2rem;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
  cursor: pointer;
}

#home {
  position: relative;
  min-height: 100vh;
  max-width: 100%;
  overflow: hidden; /* garante que pseudo-elemento não vaze */
  place-items: center;
  place-content: center;
  
}
/* Imagem de fundo */
#home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("./assets/home-barber.jpg") no-repeat center;
  background-size: cover;
  z-index: 0;
}

/* Overlay */
#home::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000a9;
  pointer-events: none;
  z-index: 1;
}

/* Textura */
.texture {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("./assets/textura.png") repeat;
  pointer-events: none;
  z-index: 2;
}

/* Conteúdo */
.content {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: "League Gothic", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  z-index: 3;
  font-size: 3em;

}
.content img {
  max-width: 10rem;
}
.content h1 {
  position: relative;
  color: #ffffff;
}
.content h2 {
  position: relative;
  color: #ee9038;
}

.low-edge {
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  position: absolute;
  z-index: 3;
}
.low-edge img {
  width: 100%;
  display: block;
}

/* About */
#about {
  width: 100%;
  background-color: rgba(32, 32, 36, 1);
  overflow: hidden;
  place-content: center;
  place-items: center;
}

.high-edge {
  width: 100%;
  max-height: 2em;
}
.high-edge img {
  width: 100%;
  display: block;
}

#title-about {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3em;
  gap: 1em;
}

#title-about h2 {
  color: white;
  
}

.sobre {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3em;
}
.sobre p {
  width: 100%;
  height: auto;
  color: white;
  font-weight: 400;
  font-size: 16px;
  font-family: "open sans", sans-serif;
  text-align: center;
}
.sobre img {
  max-width: 100%;
  max-height: 80%;
}

#service {
  display: flex;
  flex-direction: column;
  background: rgba(45, 46, 51, 1);
  max-width: 100vw;
  height: auto;
  place-content: center;
  place-items: center;
}

#service .bigode {
  height: 2em;
}
#title-service {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

#title-service h2 {
  color: white;
}

#service h3 {
  color: #ba702c;
  font-weight: 400;
}

#servicebox {
  max-width: 100%;
  display: grid;
  grid-template: repeat(1, 1fr)/repeat(4, 4fr);
  gap: 1em;
  overflow: hidden;
}
#servicebox div {
  display: flex;
  flex-direction: column;
  background-color: #202024;
  place-items: center;
  text-align: center;
  place-content: center;
  padding: 2em 3em;
}

#servicebox h4 {
  color: white;
  font-weight: 400;
  font-size: 1em;
}
#servicebox p {
  color: #858585;
  font-weight: 400;
}

#servicebox img {
  max-width: 3.5em;
}



#gallery {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  max-width: 100vw;
  height: auto;
  background: linear-gradient(
    99.58deg,
    #ba702c 4.18%,
    #ee9038 51.65%,
    #ba702c 96.6%
  );
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

#titlegallery{
  display: flex;
  margin-top: 1em;
  place-items: center;
  place-content: center;
  gap: 1em;
}

#titlegallery h2{
  color: rgb(0, 0, 0);
}


#galleryrow {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
  gap: 1em;
  align-items: center;
  align-content: center;
  justify-content: center;
}
#galleryrow img {
  max-width: 100%;
  border-radius: 8px;
}

#our-team {
  background-image: url(./assets/team-background.jpg);
  background-position: right 50%;
  max-width: 100vw;
  height: 567px;
  position: relative;
  z-index: 0;

}

#our-team::before {
  opacity: 0.3;
  position: relative;
  z-index: 1;
}

#brands {
  max-width: 100vw;
  height: 164px;
  background: rgba(202, 122, 46, 1);
}

#our-numbers {
  max-width: 100vw;
  height: 366px;
  background: linear-gradient(88.42deg, #202024 0%, #2e2f33 97.64%);
}

#share-social {
  width: 100vw;
  height: 70px;
  background: linear-gradient(191.53deg, #292a2e 8.11%, #434347 91.17%);
}

#contact-form {
  background-image: url(./assets/mapa.png);
  display: flex;
  width: 100vw;
  height: 467px;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
}
#contact-form::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000a9;
  pointer-events: none;
  z-index: 1;
}

#forms {
  display: flex;
  position: relative;
  z-index: 3;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#contact-form h2 {
  margin: 1em auto 0;
  color: white;
  
}
#contact-form h3 {
  color: rgba(238, 144, 56, 1);
  margin-bottom: 2em;
}

#contact-form form {
  color: rgba(238, 144, 56, 1);
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  margin: auto 3em;
}

footer {
  max-width: 100vw;
  height: 242px;
  background: rgba(32, 32, 36, 1);
}

/* Responsividade */

/* Para telas menores, como tablets */
@media (max-width: 1024px) {
  h1{
    font-size: 2.5em;
  }
  h2{
    font-size: 2em;
  }
  h3{
    font-size: 1.8em;
  }
  .container{
    width: 70%;
  }
  .content {
    font-size: 2.5rem;
  }
  .sobre {
    display: flex;
    flex-wrap: wrap;
  }

  #galleryrow {
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
  }
  #servicebox{ 
  grid-template: repeat(2, 2fr)/repeat(2, 2fr);
  }
}
/* Para celulares */
@media (max-width: 450px) {
  .container{
    width: 90%;
  }
  #menu-toggle {
    display: block;
  }

  #linksLogo ul {
    display: none;
    position: absolute;
    top: 100%;
    right: 1rem;
    background-color: rgba(32, 32, 36, 0.95);
    flex-direction: column;
    width: 200px;
    padding: 1rem;
    border-radius: 8px;
  }

  #linksLogo ul.show {
    display: flex;
  }

  #linksLogo ul li {
    padding: 0.5rem 0;
  }

  .content {
    font-size: 2rem;
  }

  h1 {
  font-size: 2em;
  }
  h2{
  font-size: 1.5em;
  }
  h3{
    font-size: 1.2em;
  }

  .container {
    margin: 0.8em 1.5em;
  }

  #galleryrow {
    grid-template: repeat(6, 1fr) / repeat(2, 1fr);
  }
}
